* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 200vh;
  overflow-x: hidden;
}

.btn {
  border: none;
  background-color: transparent;
}

.header {
  width: 100%;
  height: 120px;
  background-color: white;
  overflow: hidden;
  font-family: Roboto;
  z-index: 9999;
}

.header .header__aside {
  height: 50px;
  background-color: #1976d2;
  color: white;
  font-size: 16px;
  position: relative;
}

.header .header__aside .header__aside__phone {
  width: 170px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.header .header__aside .header__aside__phone .aside__phone__icon {
  padding-left: 4px;
}

.header .header__aside .header__aside__phone .aside__phone__number {
  display: inline-block;
}

.header .header__aside .header__aside__contact {
  width: 170px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 2px;
  left: 2px;
}

.header .header__aside .header__aside__contact .aside__contact__icon {
  padding-left: 4px;
}

.header .header__aside .header__aside__contact .aside__contact__email {
  display: inline-block;
}

.header .header__aside .header__aside__icons {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 124px;
}

.header .header__aside .header__aside__icons .fab {
  cursor: pointer;
  font-size: 14px;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  border-radius: 50%;
  background-color: white;
  color: #1976d2;
  text-align: center;
  line-height: 20px;
}

.header .header__aside .header__aside__icons .aside__icons--last-child {
  margin-right: 0px;
}

.header .header__aside .header__aside__icons .fab:hover {
  background-color: red;
  color: white;
}

.header .header__logo {
  width: 180px;
  height: 70px;
  padding: 10px;
}

.header .header__icon {
  position: absolute;
  top: 67.5px;
  right: 0;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
}

.header .header__icon-bars {
  right: 45px;
  cursor: pointer;
}

.header .header__nav {
  display: none;
}

.header .header__nav .nav__list {
  list-style: none;
  text-align: center;
}

.header .header__nav .nav__list .nav__item {
  padding: 5px;
  position: relative;
}

.header .header__nav .nav__list .nav__item .nav__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.header .header__nav .nav__list .nav__item .nav__link:hover {
  color: #f95d5a;
}

.header .header__nav .nav__list .nav__item:hover > .nav__item--red {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: red;
}

.header .header__search-icon {
  right: 5px;
  border: 1px solid black;
  font-size: 24px;
  color: white;
  background-color: #f95d5a;
  border-radius: 50%;
  cursor: pointer;
}

.header--active {
  height: 332px;
}

.header--active .header__nav--active {
  display: block;
}

.slogan {
  height: calc(100vh - 120px);
  overflow: hidden;
  position: relative;
}

.slogan .slogan__image .slogan__image__shadow {
  background-color: black;
  width: 100%;
  height: 100%;
}

.slogan .slogan__image .slogan__image__shadow .slogan__image--main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slogan .slogan__wrapper {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  width: 300px;
  text-align: center;
}

.slogan .slogan__wrapper .slogan__wrapper__title {
  font-family: "Roboto - Bold";
  text-transform: uppercase;
}

.slogan .slogan__wrapper .slogan__wrapper__title .slogan__wrapper__title--blue {
  color: #24b7f1;
}

.slogan .slogan__wrapper .slogan__wrapper__content {
  font-family: "Roboto";
  font-size: 14px;
  margin-top: 10px;
}

.slogan .slogan__wrapper .slogan__wrapper__button {
  width: 121px;
  height: 41px;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.slogan .slogan__wrapper .slogan__wrapper__button .fa-arrow-right::before {
  font-size: 15px;
}

.slogan .slogan__wrapper .slogan__wrapper__button--blue {
  background-color: #2095f2;
  color: white;
  border-radius: 5%;
}

.slogan .slogan__scroll-img {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  cursor: pointer;
}

.our-services {
  height: 1066.7px;
  overflow: hidden;
}

.our-services .main-services {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-services .main-services .main-services__aside {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 133.33px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1976d2;
}

.our-services .main-services .main-services__aside .main-services__aside__image {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
}

.our-services .main-services .main-services__aside .main-services__aside__title {
  font-family: Roboto;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.our-services .main-services .main-services__aside--l-blue {
  background-color: #03a9f4;
}

.our-services .others-services {
  height: 666.66px;
  padding-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-services .others-services .others-serives__aside {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 133.33px;
  overflow: hidden;
  position: relative;
  font-family: Roboto;
}

.our-services .others-services .others-serives__aside .others-services__aside__icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #f95d5a;
  z-index: 1;
  color: white;
}

.our-services .others-services .others-serives__aside .others-services__aside__title {
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 125px;
  text-align: center;
  text-transform: uppercase;
}

.our-services .others-services .others-serives__aside .others-services__aside_content {
  height: 85px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  padding: 0px 5px 10px 5px;
}

.our-services .others-services .others-services__graphic-design {
  margin-bottom: 10px;
}

.our-services .others-services .others-services__support {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.our-services .others-services .others-services__support .others-services__aside__title {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.media {
  height: 530px;
  position: relative;
}

.media .media__image .media__image--shadow {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.media .media__image .media__image--shadow .media__image__photo {
  width: 100%;
  height: 100%;
}

.media .media__image__icon {
  width: 94px;
  height: 94px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 94px;
  font-size: 35px;
  top: 050%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  color: #f95d5a;
}

.portfolio {
  height: 1430px;
  padding-top: 20px;
  position: relative;
}

.portfolio .portfolio__caption {
  height: 90px;
  width: 80%;
  margin: auto;
  font-family: Roboto;
  text-align: center;
  position: relative;
}

.portfolio .portfolio__caption .portfolio__caption__title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.portfolio .portfolio__caption .portfolio__caption__content {
  font-size: 18px;
  color: #212121;
}

.portfolio .portfolio__caption .portfolio__caption__horiz-line {
  display: block;
  height: 3px;
  width: 50px;
  background-color: #03a9f4;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio .portfolio__tags {
  height: 100px;
  width: 100%;
  margin-top: 15px;
  color: white;
  font-family: Roboto;
}

.portfolio .portfolio__tags .tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.portfolio .portfolio__tags .tags__list .tags__item--blue {
  height: 40px;
  width: 76px;
  line-height: 40px;
  list-style: none;
  background-color: #2095f2;
  text-align: center;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 5%;
  text-transform: uppercase;
}

.portfolio .portfolio__tags .tags__list .tags__item--blue .tags__link--white {
  color: white;
  text-decoration: none;
}

.portfolio .portfolio__tags .tags__list .tags__item--blue:hover {
  background-color: white;
}

.portfolio .portfolio__tags .tags__list .tags__item--blue:hover .tags__link--white {
  color: black;
}

.portfolio .portfolio__tags .tags__list .tags__list__wrap {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 0;
}

.portfolio .portfolio__tags .tags__list .tags__list__wrap .tags__item {
  width: 25%;
  list-style: none;
  cursor: pointer;
  margin: 0 2px;
  border-radius: 5%;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  background-color: white;
}

.portfolio .portfolio__tags .tags__list .tags__list__wrap .tags__item .tags__link {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio .portfolio__tags .tags__list .tags__list__wrap .tags__item:hover {
  background-color: #2095f2;
}

.portfolio .portfolio__tags .tags__list .tags__list__wrap .tags__item:hover .tags__link {
  color: white;
}

.portfolio .portoflio__pictures {
  display: block;
  height: 1000px;
  width: 90%;
  margin: 10px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Roboto;
}

.portfolio .portoflio__pictures .portfolio__pictures_wrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 250px;
  padding: 5px;
  position: relative;
}

.portfolio .portoflio__pictures .portfolio__pictures_wrap .portfolio__wrap__image {
  width: 100%;
  height: 100%;
}

.portfolio .portoflio__pictures .portfolio__pictures_wrap .portfolio__wrap__container {
  display: none;
}

.portfolio .portoflio__pictures .portfolio__pictures_wrap .portfolio__wrap__container--active {
  display: block;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: #03a9f4;
  opacity: 0.9;
  color: white;
  text-align: center;
}

.portfolio .portoflio__pictures .portfolio__pictures_wrap .portfolio__wrap__container--active .portfolio__container__center {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio .portoflio__pictures .portfolio__pictures_wrap .portfolio__wrap__container--active .portfolio__container__center .portfolio__container__icon {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  color: #03a9f4;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  margin-bottom: 10px;
}

.portfolio .portoflio__pictures .portfolio__pictures_wrap .portfolio__wrap__container--active .portfolio__container__center .portfolio__container__title {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.portfolio .portfolio__button {
  width: 170px;
  height: 50px;
  color: white;
  background-color: #2095f2;
  font-size: 18px;
  border-radius: 2%;
  text-transform: uppercase;
  position: absolute;
  bottom: 72.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.team {
  height: 887px;
  background-color: #1976d2;
  font-family: Roboto;
  color: white;
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}

.team .team__caption {
  width: 80%;
  height: 100px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.team .team__caption .team__caption__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 22px;
}

.team .team__caption .team__caption__content {
  font-size: 18px;
}

.team .team__caption .team__caption__line-hori {
  height: 3px;
  width: 50px;
  display: inline-block;
  background-color: white;
  position: absolute;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.team .team__member {
  width: 80%;
  height: 550px;
  background-color: #2095f2;
  margin: 80px auto 10px auto;
  position: absolute;
  top: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

.team .team__member .member__container .member__container__image {
  height: 374px;
  position: relative;
}

.team .team__member .member__container .member__container__image .container__image__photo {
  border: 8px solid #0c79cf;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team .team__member .member__container .member__container__image .container__image__photo--active {
  border-color: white;
}

.team .team__member .member__container .member__container__line-horizontal {
  display: block;
  height: 1px;
  border: 1px solid #03a9f4;
}

.team .team__member .member__container .member__container__person {
  width: 220px;
  height: 77px;
  margin: 66px auto 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.team .team__member .member__container .member__container__person .container__person__name {
  font-size: 20px;
  margin-bottom: 5px;
}

.team .team__member .member__container .member__container__person .container__person__stand {
  font-size: 14px;
  font-family: "Roboto Light";
  margin-bottom: 5px;
}

.team .team__member .member__container .member__container__person .container__person__line-hori {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #03a9f4;
  margin-bottom: 5px;
}

.team .team__member .member__container .member__container__person .container__person__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.team .team__member .member__container .member__container__person .container__person__contact .person__contact__icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.team .team__member .member__container .member__container__person .container__person__contact .person__contact__icon:hover {
  color: #ef5350;
}

.team .team__member__primary {
  z-index: 2;
}

.team .team__member__secondary {
  z-index: 1;
}

.team .team__member__tertiary {
  z-index: 0;
}

.team .team__order {
  width: 66px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.team .team__order .team__order__circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 2.5px;
  background-color: #2095f2;
  border-radius: 50%;
  border: 3px solid white;
}

.team .team__order .team__order__circle--active {
  background-color: white;
}

.achievements {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Roboto;
}

.achievements .achievemenst__projects {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 150px;
  position: relative;
}

.achievements .achievemenst__projects .achievements__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
  height: 100px;
}

.achievements .achievemenst__projects .achievements__container .achievemenst__icon {
  color: #ef5350;
  font-size: 26px;
  margin-left: 22px;
  margin-top: 5px;
}

.achievements .achievemenst__projects .achievements__container .achievemenst__amount {
  margin-top: -26px;
  font-size: 22px;
  margin-left: 58px;
}

.achievements .achievemenst__projects .achievements__container .acheivemenst__title {
  text-align: center;
  margin-top: 10px;
}

.clients {
  height: 764px;
  background-color: #1976d2;
  padding-top: 60px;
  font-family: Roboto;
  color: white;
  position: relative;
}

.clients .clients__header {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.clients .clients__header .clients__header__title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.clients .clients__header .clients__header__content {
  font-size: 16px;
  font-weight: normal;
}

.clients .clients__header .clients__header__line-hori {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 50px;
  background-color: white;
}

.clients .clients__person {
  width: 30%;
  height: 290px;
  background-color: #1976d2;
  position: absolute;
  top: 190px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.clients .clients__person .clients__person__photo {
  width: 100%;
  height: 180px;
  position: relative;
}

.clients .clients__person .clients__person__photo .person__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 4px solid #1976d2;
  border-radius: 60%;
  height: 120px;
  width: 120px;
}

.clients .clients__person .clients__person__photo .person__image--active {
  border-color: white;
}

.clients .clients__person .clients__person__name {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.clients .clients__person .clients__person__stand {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.clients .clients__person__comment {
  margin-top: 20px;
  border: 2px solid white;
  height: 230px;
  padding: 15px;
  width: 92%;
  text-align: center;
  background-color: #1976d2;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.clients .clients__person__comment .clients__comment__content {
  font-size: 16px;
  font-weight: normal;
}

.clients .clients__order {
  width: 66px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.clients .clients__order .clients__order__circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 2.5px;
  background-color: #2095f2;
  border-radius: 50%;
  border: 3px solid white;
}

.clients .clients__order .clients__order__circle--active {
  background-color: white;
}

.clients .clients__person__primary {
  z-index: 1;
}

.clients .clients__person__secondary {
  z-index: 0;
}

.clients .clients__person__tertiary {
  z-index: 0;
}

.clients .person__comment__primary {
  z-index: 1;
}

.clients .person__comment__secondary {
  z-index: 0;
}

.clients .person__comment__tertiary {
  z-index: 0;
}

.brand {
  height: 190px;
  background-color: rgba(128, 128, 128, 0.2);
}

.brand .brand__images {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand .brand__images .brand__photo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 50%;
  padding: 15px;
}

.pricing {
  height: 850px;
  background-color: #ffffff;
  padding-top: 60px;
  font-family: Roboto;
  position: relative;
}

.pricing .pricing__caption {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.pricing .pricing__caption .pricing__caption__title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.pricing .pricing__caption .pricing__caption__content {
  font-size: 16px;
  font-weight: normal;
}

.pricing .pricing__caption .pricing__caption__line-hori {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #03a9f4;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 1%;
}

.pricing .pricing__offert {
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  height: 553px;
  width: 280px;
  background-color: white;
  position: absolute;
  top: 210px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.pricing .pricing__offert .pricing__offert__title {
  text-transform: uppercase;
  padding-top: 33px;
  font-size: 30px;
}

.pricing .pricing__offert .pricing__offert__purpose {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
}

.pricing .pricing__offert .pricing__offert__price {
  margin-top: 10px;
  color: #2095f2;
  font-size: 24px;
  margin-bottom: 92px;
}

.pricing .pricing__offert .pricing__offert__price .pricing__offert__price--lower {
  font-size: 16px;
}

.pricing .pricing__offert .pricing__offert__price--active {
  margin-bottom: 44px;
}

.pricing .pricing__offert .pricing__offert__line-hori {
  display: none;
  width: 100%;
  height: 2px;
  border: 1px solid #f95d5a;
  margin-bottom: 44px;
}

.pricing .pricing__offert .pricing__offert__line-hori--active {
  display: block;
}

.pricing .pricing__offert .pricing__offert__services {
  width: 70%;
  height: 203px;
  margin: 0 auto 57px auto;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing .pricing__offert .pricing__offert__services .services {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  color: #727272;
}

.pricing .pricing__offert .pricing__offert__button {
  border: none;
  width: 120px;
  height: 40px;
  background-color: #2095f2;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5%;
  cursor: pointer;
}

.pricing .pricing__offert .pricing__offert__button:hover {
  background-color: #ef5350;
}

.pricing .pricing__offert--basic {
  z-index: 1;
}

.pricing .pricing__offert--standard {
  z-index: 0;
}

.pricing .pricing__offert--professional {
  z-index: 0;
}

.pricing .price__order {
  width: 66px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.pricing .price__order .price__order__circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 2.5px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #2095f2;
}

.pricing .price__order .price__order__circle--active {
  background-color: #2095f2;
}

.news {
  height: 800px;
  font-family: Roboto;
  padding-top: 20px;
}

.news .news__caption {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  text-align: center;
  position: relative;
}

.news .news__caption .news__caption__title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}

.news .news__caption .news__caption__content {
  font-size: 14px;
  font-weight: normal;
}

.news .news__caption .news__caption__line-hori {
  display: block;
  height: 3px;
  width: 50px;
  background-color: #03a9f4;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 2%;
}

.news .news__wrapper {
  height: 630px;
  width: 280px;
  margin: 30px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news__wrapper .news__main-info {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.news .news__wrapper .news__main-info .news__main-info__image .main-info__photo {
  height: 100px;
  width: 280px;
  border: 1px solid black;
}

.news .news__wrapper .news__main-info .news__main-info__title {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 3px;
  padding-left: 5px;
}

.news .news__wrapper .news__main-info .news__main-info__author {
  font-size: 10px;
  color: #333333;
  margin-top: 5px;
  padding-left: 5px;
}

.news .news__wrapper .news__main-info .news__main-info__content {
  margin-top: 5px;
  font-size: 11px;
  padding-left: 5px;
}

.news .news__wrapper .news__main-info .news__main-info__arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  width: 30px;
  height: 30px;
  background-color: #2095f2;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.news .news__wrapper .news__main-info .news__main-info__arrow:hover {
  background-color: #ef5350;
}

.news .news__wrapper .news__main-info--last {
  margin-bottom: 0px;
}

.updates {
  height: 350px;
  background-color: #f5f5f5;
  font-family: Roboto;
  padding-top: 60px;
  text-align: center;
}

.updates .updates__caption {
  height: 100px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.updates .updates__caption .updates__caption__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.updates .updates__caption .updates__caption__content {
  font-size: 14px;
  color: #212121;
}

.updates .updates__caption .updates__caption__line-hori {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #03a9f4;
}

.updates .updates__form .updates__email {
  height: 28px;
  width: 80%;
  margin: 40px auto 35px auto;
  border: none;
  background-color: #f5f5f5;
  border-bottom: 1px solid #03a9f4;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}

.updates .updates__form .updates__email:hover {
  border-color: #ef5350;
}

.updates .updates__form .updates__email::-webkit-input-placeholder {
  color: #a7a7a7;
  font-size: 14px;
}

.updates .updates__form .updates__email:-ms-input-placeholder {
  color: #a7a7a7;
  font-size: 14px;
}

.updates .updates__form .updates__email::-ms-input-placeholder {
  color: #a7a7a7;
  font-size: 14px;
}

.updates .updates__form .updates__email::placeholder {
  color: #a7a7a7;
  font-size: 14px;
}

.updates .updates__button-confirm {
  width: 170px;
  height: 50px;
  background-color: #2095f2;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  text-transform: uppercase;
  color: white;
}

.footer {
  height: 100px;
  background-color: #1976d2;
  padding-top: 30px;
  font-family: Roboto;
  color: white;
  text-align: center;
}

.footer .footer__copryright {
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 10px;
}

.footer .footer__wrapper {
  width: 170px;
  height: 30px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.footer .footer__wrapper .footer__wrapper__icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: white;
  color: #2095f2;
  margin-right: 5px;
  cursor: pointer;
}

.footer .footer__wrapper .footer__wrapper__icon:hover {
  background-color: #ef5350;
  color: white;
}

.footer .footer__wrapper .footer__wrapper__icon--last {
  margin-right: 0px;
}
/*# sourceMappingURL=style.css.map */