*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    min-height: 200vh

.btn
    border: none
    background-color: transparent    

@import "_header"  
@import "_slogan"  
@import "_our-services"
@import "_media"


